{% extends 'cliente.html.twig' %}

{% block body %}
    <h1>Subcategorias list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subcategoria in subcategorias %}
            <tr>
                <td><a href="{{ path('subcategorias_show', { 'id': subcategoria.id }) }}">{{ subcategoria.id }}</a></td>
                <td>{{ subcategoria.nome }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subcategorias_show', { 'id': subcategoria.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subcategorias_edit', { 'id': subcategoria.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subcategorias_new') }}">Create a new subcategoria</a>
        </li>
    </ul>
{% endblock %}
